.input {
    height: 50px;
    width: 80%;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

input {
    background: none;
    border: none;
    height: 50px;
    margin-left: 12px;
    flex: 1;
}

input:focus {
    outline: none;
}

button {
    margin-right: 8px;
    background-color: rgb(200,194,236);
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 80px;
    text-indent: 10px;
}