.app {
    height: 100vh;
    width: 100vw;
    background-color: rgb(168, 173, 182);
    display: grid;
    place-items: center;
}

.app__container {
    height: 700px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(232, 234, 237);
    border-radius: 12px;
    padding: 32px 0;
}

.app__listTodo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
}

.app__container>p {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

.app__checkAll {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border-bottom: 1px solid #ccc;
}

button {
    cursor: pointer;

}

@media (max-width: 500px) {
    .app__container {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .app__container {
        width: 100%;
    }

}

@media (max-width: 768px) {
    .app__container {
        height: 500px;
        width: 100%;
    }
}